<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset='utf-8'/>
  <title>SMART Apps</title>
  <base href="<%= "#{request.base_url}" %>">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'smart_apps' %>
</head>
<body>
<ul class="apps">
  <% apps.each do |app| %>
      <li>
        <div class="img_desc">
          <a href="<%= "#{app_path(ehr_source_id, app.app_id)}?#{query_string}" %>">
            <%= image_tag app.app_screenshot_url %>
            <span class='app_description'><span><%= app.app_metadata_hash['app_tagline'] %></span></span>
          </a>
        </div>
        <p class='app_name'> <%= app.name %></p>
        <p class='app_name'><%= app.app_metadata_hash['app_company'] %></p>
      </li>
  <% end %>
</ul>
</body>
</html>