<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Loading...</title>
<base href="<%= "#{request.base_url}" %>">
<%= javascript_include_tag "application" %>
<%= canadarm_logging_tag %>
<%= javascript_include_tag "igneous-smart.min" %>
</head>
<body onload="retrieveRequiredInfoAndRedirect('<%= url_with_tenant_place_holder %>', <%= user_person_id %>)">
</body>
</html>
