<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Loading...</title>
<%= javascript_include_tag "application" %>
<%= canadarm_logging_tag %>
<%= javascript_include_tag "igneous-smart.min" %>
</head>
<body onload="performPreauthentication('<%= oauth2_base_url %>', '<%= launch_url %>')">
  <p>Loading...</p>
  <div id="iframe" style="display:block; visibility:hidden">
    <iframe name="loader" id="loader"></iframe>
  </div>
</body>
</html>
