<!DOCTYPE html>
<html lang="en-us" hidden>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Loading...</title>
<base href="<%= "#{request.base_url}" %>">
<%= stylesheet_link_tag 'embedded_content_engine/embedded_content' %>
<%= javascript_include_tag "application" %>
<%= canadarm_logging_tag %>
<%= javascript_include_tag "igneous-smart.min" %>
<%= stylesheet_link_tag 'spinner' %>
</head>
<body onload="performPreauthenticationPowerChart('<%= oauth2_base_url %>', '<%= smart_launch_url %>')">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div id="iframe" style="display:block; visibility:hidden">
    <iframe name="loader" id="loader"></iframe>
  </div>
  <%= javascript_include_tag 'embedded_content_engine/embedded_content' %>
</body>
</html>
